<!-- 1. 定义模版 -->
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>
        Golang
    </title>
</head>
<body>
<p>
    <h2 style="color: orange">
        start golang with {{ . }}
    </h2>
</p>
</body>
</html>